name: CI
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  merge_group:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check:
    name: check
    uses: Not-Nik/neqo/.github/workflows/check.yml@external-crypto
